@import "../../scss/fonts";

.checkBoxGroup {
  font-family: $font-roboto;
  display: flex;
  align-items: center;

  input[type="checkbox"] {
    margin: 7px 14px 7px 0;
    height: 20px;
    width: 20px;
    accent-color: var(--pink);
  }

  input[type="checkbox"]::before {
    content: "";
    display: inline-block;
    height: 18px;
    width: 18px;
    background-color: var(--primary-bg);
    border: 1px solid var(--pink);
    border-radius: 2px;
  }

  input[type="checkbox"]:checked::before {
    background-color: transparent;
  }

  label {
    font-size: 0.9rem;
    &::first-letter {
      text-transform: capitalize;
    }
  }
}
