.btn {
  font-size: 0.8rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #000000;
  border: none;
  border-bottom-right-radius: 6px;
}

.category-btn {
  padding: 12px 28px;
  margin: 14px 0;
}

.wishlist-btn {
  padding: 12px 15px 10px;
  font-weight: 600;
  font-size: 0.78rem;
  color: #878887;
  background-color: #ffffff;
}

.cart-btn,
.order-btn {
  padding: 12px 20px 10px;
}

.increment-btn {
  font-size: 0.8rem;
  color: #000000;
  background-color: #ffffff;
}

.decrement-btn {
  font-size: 1.2rem;
  margin-top: -3px;
  color: #000000;
  background-color: #ffffff;
}

.cart-tab-btn {
  position: absolute;
  bottom: -16px;
  right: 20px;
  padding: 8px 12px;
  font-size: 0.65rem;
}
