.btn {
  border: none;
  color: #fff;
  background-color: #000;
  padding: 14px;
  font-size: 1.6rem;
}

.btn:hover {
  box-shadow: 0 0 12px #fff;
}

.form-btn {
  padding: 22px 0;
  margin-top: 24px;
  width: 100%;
  background: linear-gradient(to right, #f6a622, #ac8813);
}

.lottery-btn {
  background-color: #d0011c;
  padding: 14px 38px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.trailer-btn {
  padding: 20px 38px;
  background: linear-gradient(to right, #f6a622, #ac8813);
}
