.light {
  --primary-bg: #fff;
  --blog-list-bg: #f5f6fa;
  --primary-font-bg: #000;
  --logo: #b354b7;
  --pink: #b354b7;
  --lightBlue: #69f8f9;
  --blog-card-bg: #fff;
  --blog-input-bg: #ebecf3;
  --blog-placeholder-bg: #95969a;
  --blog-card-selected-bg: #96e2f5;
  --white: #fff;
  --black: #000;
}

.dark {
  --primary-bg: #041d2e;
  --blog-list-bg: #000;
  --primary-font-bg: #fff;
  --logo: #fff;
  --pink: #b354b7;
  --lightBlue: #69f8f9;
  --blog-card-bg: #042b46;
  --blog-input-bg: #041d2e;
  --blog-placeholder-bg: #fff;
  --blog-card-selected-bg: #041d2e;
  --white: #fff;
  --black: #000;
}
