.imageContainer {
  position: relative;
}

.blogImg {
  height: 435px;
  img {
    border-radius: 18px;
  }
}

.memberImg {
  height: 154px;
  img {
    border-radius: 15px 15px 15px 0;
  }
}

.loaderContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--primary-bg);
  z-index: 1;
}
