@import "./scss/fonts";
@import "./scss/colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-ibm;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}
