.error-message {
  color: #ff0000;
  margin-bottom: 24px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-label {
  color: #838485;
  margin-bottom: 14px;
}

.input-field {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #838485;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 28px;
}

.input-field:focus {
  outline: none;
}
